<div class="footer-basic footer">
    <footer>
        <ul class="list-inline">
            <li><a href="#">Home &nbsp;|</a></li>
            <li><a href="#">Services &nbsp; |</a></li>
            <li><a href="#">About &nbsp; | </a></li>
            <li><a href="#">Terms &nbsp; | </a></li>
            <li><a href="#">Privacy Policy </a></li>
        </ul>
        <p class="copyright">Eastland Career Center © 2017</p>
    </footer>
</div>
