<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page.title %> | Chess</title>

    <%- include('styles'); %>

    <% (css || []).forEach(function (uri) { %>
        <link rel="stylesheet" href="<%= uri %>">
    <% }) %>
    
    <%- include('scripts'); %>
</head>
